<!DOCTYPE html>
<html>
<head>
	<title>FairyTales World</title>
</head>
<body>
	<h1>FairyTales</h1>
	<nav>
		<a href="/fairyTales"><p>Stories</p></a>
		<a href="/characters"><p>Characters</p></a>
	</nav>
</body>
</html>